div#round-form {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: center;
}

div#round-form>div.col {
    flex: 0 0 80px;
}


/* margin-left: calc(50% - 54.4px);
margin-top: 15px; */
